extends layout

block content
  h1 Hackathon Starter
  p.lead A boilerplate for Node.js web applications.
  hr
  .row
    .col-sm-6
      h2 Api Playground
      p
        a.btn.btn-default(href='/api_playground', role='button') Api Playground »
    .col-sm-6
      h2 Tribe Dashboard
      p
        a.btn.btn-default(href='/tribes', role='button') Create Tribe »
    .col-sm-6
      h2 Triber Management
      p
        a.btn.btn-default(href='/tribers', role='button') Manager Tribers »
    .col-sm-6
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-default(href='#', role='button') View details »